.feed {
    flex: 0.6;
    border-right: 1px solid $twitter-background;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    &__header {
        position: sticky;
        top: 0;
        background-color: #fff;
        border-bottom: 1px solid $twitter-background;
        padding: 15px 20px;
        z-index: 10;

        h2 {
            font-weight: 800;
            font-size: 20px;
        }
    }
}
