.sidebar {
  border-right: 1px solid #e8f5fe;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  min-width: 250px;
  padding: 20px 20px 0;
}

.sidebar .twitter-icon {
  color: #50b7f5 !important;
  font-size: 30px !important;
  margin: 0 0 20px 20px;
}

.sidebar .MuiButton-root {
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  font-weight: 800;
  color: #fff;
  background-color: #50b7f5;
  text-transform: inherit;
}

.sidebar .MuiButton-root:hover {
  border: none;
  background-color: #50b7f5;
}

.sidebarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sidebarOption h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption .MuiSvgIcon-root {
  padding: 15px 20px;
}

.sidebarOption:hover {
  border-radius: 30px;
  background-color: #e8f5fe;
  color: #50b7f5;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.sidebarOption--active {
  color: #50b7f5;
}

.feed {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  border-right: 1px solid #e8f5fe;
  overflow-y: scroll;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #e8f5fe;
  padding: 15px 20px;
  z-index: 10;
}

.feed__header h2 {
  font-weight: 800;
  font-size: 20px;
}

.tweetBox {
  padding: 0 20px 20px 0;
  border-bottom: 8px solid #e8f5fe;
}

.tweetBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tweetBox__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.tweetBox__input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__button {
  height: 40px !important;
  width: 80px;
  margin: 20px 0 0 auto !important;
  font-weight: 800 !important;
  text-transform: inherit !important;
  color: #fff !important;
  border-radius: 30px !important;
  background-color: #50b7f5 !important;
  border: none !important;
}

.tweetBox__image input {
  border: none;
  padding: 10px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 10px;
  border-bottom: 1px solid #e8f5fe;
}

.post__header--user {
  font-size: 12px;
  font-weight: 600;
  color: gray;
}

.post__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 15px;
}

.post__badge {
  font-size: 14px !important;
  color: #50b7f5;
}

.post img {
  width: 100%;
  border-radius: 20px;
}

.post__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.widgets {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.widgets__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8f5fe;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0 0 20px;
}

.widgets__input input {
  border: none;
  background-color: #e8f5fe;
}

.widgets__searchIcon {
  color: gray;
}

.widgets__container {
  margin: 15px 0 0 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
/*# sourceMappingURL=styles.css.map */