.widgets {
    flex: 0.3;
    
    &__input {
        display: flex;
        align-items: center;
        background-color: $twitter-background;
        padding: 10px;
        border-radius: 20px;
        margin: 10px 0 0 20px;

        input {
            border: none;
            background-color: $twitter-background;
        }
    }

    &__searchIcon {
        color: gray;
    }

    &__container {
        margin: 15px 0 0 20px;
        padding: 20px;
        background-color: #f5f8fa;
        border-radius: 20px;
    }
}